body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #201b2d;
}

div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

p {
    line-height: 1.6em;
}

.container {
    width: 1171px;
    margin: 0 auto;
}

.header {
    background: rgba(78,189,254,1);
    background: -moz-linear-gradient(left, rgba(78,189,254,1) 0%, rgba(63,160,230,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(78,189,254,1)), color-stop(100%, rgba(63,160,230,1)));
    background: -webkit-linear-gradient(left, rgba(78,189,254,1) 0%, rgba(63,160,230,1) 100%);
    background: -o-linear-gradient(left, rgba(78,189,254,1) 0%, rgba(63,160,230,1) 100%);
    background: -ms-linear-gradient(left, rgba(78,189,254,1) 0%, rgba(63,160,230,1) 100%);
    background: linear-gradient(to right, rgba(78,189,254,1) 0%, rgba(63,160,230,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebdfe', endColorstr='#3fa0e6', GradientType=1 );
    color: #fff;
    padding-top: 62px;
    padding-bottom: 142px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-bottom: 149px;
}

.offer {
    width: 555px;
}

.title {
    width: 551px;
    font-size: 37px;
    font-weight: 700;
    line-height: 1.7em;
    padding-bottom: 45px;
}

.title span {
    font-size: 59px;
}

.intro {
    font-family: "Open Sans", sans-serif;
    width: 401px;
    line-height: 1.6em;
    padding: 45px 0;
    margin: 0;
}

.offer a {
    text-decoration: none;
    color: #2e2a1b;
}

.btn {
    display: block;
    width: 222px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 15px;
    background-color: #ffd429;
    padding: 22px 0;
    text-align: center;
    transition: all 0.5s ease;
}

.btn:hover {
    background-color: #e1b713;
}

.erwartung {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    padding-top: 108px;
    padding-bottom: 73px;
}

.inhalt {
    display: flex;
    justify-content: space-between;
    margin-bottom: 119px;
}

.liste {
    width: 289px;
    background: url("../img/icon1.jpg") no-repeat center top;
    padding-top: 100px;
}

.h3-liste {
    text-align: center;
}

.h3-liste p {
    font-size: 15px;
}

.inhalt-liste {
    text-align: center;
    margin: 0;
    padding-top: 22px;
    padding-bottom: 16px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

.liste2 {
    background: url("../img/icon2.jpg") no-repeat center top;
}

.liste3 {
    width: 318px;
    background: url("../img/icon3.jpg") no-repeat center top;
}

.section2 {
    background-color: #ecf3f8;
    padding-bottom: 102px;
}

.h2-form {
    padding-top: 105px;
    padding-bottom: 57px;
    margin: 0;
}

.inhalt-form {
    display: block;
    margin: 0 auto;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    border: 1px solid #bbbbbb;
    width: 343px;
    padding: 16px 0;
    font-size: 15px;
    padding-left: 24px;
    margin-bottom: 15px;
    opacity: 0.6;
}

.btn2 {
    margin: 0 auto;
    width: 342px;
    border: none;
    background-color: #ffd429;
}

.footer {
    background-color: #164d7a;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400px;
    color: #fff;
    padding: 65px 0;
    text-align: center;
}

/* Responsiv */

/* 992 - 1200px. */
@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
}
}

/* 768 - 992px. */
@media screen and (max-width: 992px) {
        .container {
        width: 720px;
}
}

/* 576 - 768px. */
@media screen and (max-width: 768px) {
    .container {
        width: 540px;
}
}

/* 0 - 576px. */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
}
}