body {
    font-family: "Open Sans", sans-serif;
    color: #201b2b;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 1.6em;
}

.container {
    width: 1171px;
    margin: 0 auto;
}

.header {
    background: rgba(71,62,95,1);
    background: -moz-linear-gradient(-45deg, rgba(71,62,95,1) 0%, rgba(43,34,64,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(71,62,95,1)), color-stop(100%, rgba(43,34,64,1)));
    background: -webkit-linear-gradient(-45deg, rgba(71,62,95,1) 0%, rgba(43,34,64,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(71,62,95,1) 0%, rgba(43,34,64,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(71,62,95,1) 0%, rgba(43,34,64,1) 100%);
    background: linear-gradient(135deg, rgba(71,62,95,1) 0%, rgba(43,34,64,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#473e5f', endColorstr='#2b2240', GradientType=1 );
    padding-top: 100px;
    color: #fff;
    padding-bottom: 240px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
     
}

.offer {
    margin-top: 176px;
    width: 485px;
}

.title {
    font-size: 36px;
}

.title span {
    color: #48ed8e;
}

.intro {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 380px;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    background: #ed9619;
    color: #fff; 
    border-radius:  100px;
    display: block;
    width: 205px;
    padding: 19px 0;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #e1890e;
    color: #fff;
}

.desktop {
    margin-top: 70px;
}

.section-title {
    font-size: 30px;
}

.learn {
    padding-top: 108px;
    padding-bottom: 110px;
}

.skill {
    width: 350px;
    background: url("../img/icon1.jpg") no-repeat left top;
    padding-left: 100px;
}

.skills {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.skill-title {
    font-size: 18px;
}

.skill-text {
    margin-top: 7px;
}

.skill-free {
    width: 380px;
    background: url("../img/icon2.jpg") no-repeat left top;
}

.skill-change {
    background: url("../img/icon3.jpg") no-repeat left top;
}

.mail {
    background-color: #efecf4;
    padding-top: 175px;
    padding-bottom: 195px;
}

.input {
    width: 475px;
    border: 1px solid #bfb8d1;
    border-radius: 100px;
    height: 54px;
    padding-left: 39px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

.btn-form {
    border: 0;
    cursor: pointer;
    display: inline;
    margin-left: 14px;
}

.form {
    margin-top: 42px;
}

.credits {
    font-size: 14px;
    margin: 0;
}

.footer {
    padding: 35px 0;
    height: 86px;
    background-color: #201b2d;
    color: #d4cee3;
}