body {
    margin: 5px;
    padding: 0;
}

.logo {
    width: 140px;
    height: auto;
}

.h1 {
    color: red;
}

.p1 {
    width: 100px;
    background-color: blue;
    color: #fff;
    margin-bottom: 100px;
}

.p2 span {
    color: red;
}

.h2-1 {
    display: block;
    background-color: green;
    line-height: 1.5em;
    color: #fff;
    padding-left: 5px;
}

.h2-2 {
    display: block;
    background-color: green;
    background-color: green;
    line-height: 5em;
    color: #fff;
    padding-left: 50px;
}

.h2-3 {
    display: block;
    background-color: green;
    line-height: 1.5em;
    color: #fff;
    padding-left: 5px;
}

.form,.p-form {
    opacity: 0.7;
}

.liste {
    font-size: 2em;
    border: 1px solid black;
    opacity: 0.8;
}


.footer {
    margin-bottom: 200px;
}
